<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

      <extension
            point="no.hal.learning.exercise.adm.chartpane">
         <chartpane
               name="Exercise Overview"
               chartPaneClass="no.hal.learning.exercise.adm.plots.ExerciseOverviewPlot">
         </chartpane>
         <chartpane
               name="Exercise Time Usage"
               chartPaneClass="no.hal.learning.exercise.adm.plots.ExerciseTimeUsagePlot">
         </chartpane>
         <chartpane
               name="Test completion"
               chartPaneClass="no.hal.learning.exercise.adm.plots.ExerciseTestCompletionPlot">
         </chartpane>
      </extension>

	<extension point="no.hal.learning.exercise.adm.exviewercolumn">
		<exviewercolumn
	    	columnLabel="Completion"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.TestCompletionTaskEventsValue"
        />
		<exviewercolumn
	    	columnLabel="# lines"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.LineCountCodeMetric"
        />
		<exviewercolumn
	    	columnLabel="# tokens"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.TokenCountCodeMetric"
        />
		<exviewercolumn
	    	columnLabel="# statements/expressions"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.StatementsExpressionsExcludingMainCounter"
        />
		<exviewercolumn
	    	columnLabel="# edited lines"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.EditSizeTaskEventsValue"
        />
		<exviewercolumn
	    	columnLabel="Edit x time"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.plots.util.EditSizeTimeIntegral"
        />
	</extension>

</plugin>
