<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pydev-exercise -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.pydev/model/pydev-exercise.ecore"
            class="no.hal.learning.exercise.pydev.PydevPackage"
            genModel="model/pydev-exercise.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="platform:/plugin/no.hal.learning.exercise.pydev/model/pydev-exercise.ecore"
            class="no.hal.learning.exercise.pydev.adapter.PydevUIAdapterFactory"
            supportedTypes=
              "no.hal.emf.ui.parts.adapters.EObjectUIAdapter"/>
   </extension>

</plugin>
