<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ast -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.jdt.ecore/model/ast.ecore"
            class="no.hal.learning.exercise.jdt.ecore.ast.AstPackage"
            genModel="model/ast.genmodel"/>
   </extension>

</plugin>
