<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.hal.no/jex/jextest/JexTest" 
       class = "no.hal.jex.jextest.jexTest.JexTestPackage"
       genModel = "model/generated/JexTest.genmodel" /> 
	
  </extension>




</plugin>
