<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exercise -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/exercise.ecore"
            class="no.hal.learning.exercise.ExercisePackage"
            genModel="model/exercise.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated quiz -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/quiz.ecore"
            class="no.hal.learning.quiz.QuizPackage"
            genModel="model/quiz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diff -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/diff.ecore"
            class="no.hal.learning.diff.DiffPackage"
            genModel="model/diff.genmodel"/>
   </extension>

</plugin>
