<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="taskEventFeaturesProvider" name="taskEventFeaturesProvider" schema="schema/taskEventFeaturesProvider.exsd"/>
   <extension-point id="taskEventFeaturesViewProvider" name="taskEventFeaturesViewProvider" schema="schema/taskEventFeaturesViewProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated exercise -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/exercise.ecore"
            class="no.hal.learning.exercise.ExercisePackage"
            genModel="model/exercise.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated quiz -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/quiz.ecore"
            class="no.hal.learning.quiz.QuizPackage"
            genModel="model/quiz.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated diff -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.model/model/diff.ecore"
            class="no.hal.learning.diff.DiffPackage"
            genModel="model/diff.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fv -->
      <package
            uri="platform:/plugin/no.hal.learning.execise.model/model/fv.ecore"
            class="no.hal.learning.fv.FvPackage"
            genModel="model/fv.genmodel"/>
   </extension>

</plugin>
