<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



	<extension point="org.eclipse.core.filesystem.filesystems"
	 	id="org.eclipse.core.filesystem.emfs">
		<filesystem scheme="emfs">
			<run class="no.hal.emfs.provider.EmfsFileSystem"/>
		</filesystem>
	</extension>

</plugin>
