<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="metricsProvider" name="Metrics provider" schema="schema/metricsProvider.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jdt-exercise -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.jdt/model/jdt-exercise.ecore"
            class="no.hal.learning.exercise.jdt.JdtPackage"
            genModel="model/jdt-exercise.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="platform:/plugin/no.hal.learning.exercise.jdt/model/jdt-exercise.ecore"
            class="no.hal.learning.exercise.jdt.adapter.JdtUIAdapterFactory"
            supportedTypes=
              "no.hal.emf.ui.parts.adapters.EObjectUIAdapter"/>
   </extension>

   <extension
         point="no.hal.learning.exercise.jdt.metricsProvider">
         <metricsProvider
         	name="lineCount"
         	providerClass="no.hal.learning.exercise.jdt.metrics.LineCountMetric"
         />
         <metricsProvider
         	name="tokenCounters"
         	providerClass="no.hal.learning.exercise.jdt.metrics.TokenCountersMetric"
         />
         <metricsProvider
         	name="nameCounters"
         	providerClass="no.hal.learning.exercise.jdt.metrics.QNameCountersMetric"
         />
         <metricsProvider
         	name="conditionalCounters"
         	providerClass="no.hal.learning.exercise.jdt.metrics.ConditionalCountersMetric"
         />
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Metrics"
            class="no.hal.learning.exercise.jdt.ui.MetricsView"
            id="no.hal.learning.exercise.jdt.ui.MetricsView"
            >
      </view>
   </extension>

</plugin>
