<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workbench-exercise -->
      <package
            uri="platform:/plugin/no.hal.learning.exercise.workbench/model/workbench-exercise.ecore"
            class="no.hal.learning.exercise.workbench.WorkbenchPackage"
            genModel="model/workbench-exercise.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="platform:/plugin/no.hal.learning.exercise.workbench/model/workbench-exercise.ecore"
            class="no.hal.learning.exercise.workbench.adapter.WorkbenchUIAdapterFactory"
            supportedTypes=
              "no.hal.emf.ui.parts.adapters.EObjectUIAdapter"/>
   </extension>

</plugin>
