<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="emfsResourceExtractor" name="Emfs Resource Extractor" schema="schema/emfsResourceExtractor.exsd"/>

   <extension point="org.eclipse.ui.preferencePages">
      <page id="no.hal.confluence.ui.WikiPreferencePage"
            class="no.hal.confluence.ui.preferences.WikiPreferencePage"
            name="Digital Compendium"
            />
      <page id="no.hal.confluence.ui.ImportPathsPreferencePage"
            class="no.hal.confluence.ui.preferences.ImportPathsPreferencePage"
            name="Import paths"
            category="no.hal.confluence.ui.WikiPreferencePage"
            />
   </extension>
   
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="no.hal.confluence.ui.preferences.WikiPreferenceInitializer"/>
      <initializer class="no.hal.confluence.ui.preferences.ImportPathsPreferenceInitializer"/>
   </extension>

     <extension
         point="org.eclipse.ui.views">
      <category
            name="Digital Compendium"
            id="no.hal.confluence.ui.ConfluenceWiki">
      </category>
      <view
            id="no.hal.confluence.ui.views.ConfluenceWikiView"
            category="no.hal.confluence.ui.ConfluenceWiki"
            class="no.hal.confluence.ui.views.ConfluenceWikiView"
            name="Digital Compendium"
            icon="icons/full/book.gif"
            >
      </view>
      <view
            id="no.hal.confluence.ui.views.ConfluenceWikiOverView"
            category="no.hal.confluence.ui.ConfluenceWiki"
            class="no.hal.confluence.ui.views.ConfluenceWikiOverView"
            name="Wiki Overview"
            >
      </view>
   </extension>

     <extension
           point="no.hal.confluence.ui.emfsResourceExtractor"
			id="no.hal.confluence.ui.resources.EmfsResourceExtractor">
        <contentRegionExtractor
	        contentRegionExtractorClass="no.hal.confluence.ui.resources.util.CodeBlockSourceExtractor2"
	    />
        <emfsResourceClassifier
	        emfsResourceClassifierClass="no.hal.confluence.ui.resources.XemfsResourceClassifier"
	    />
        <emfsResourceExtractor
	        contentRegionExtractorClass="no.hal.confluence.ui.resources.util.ContentUrlExtractor"
	        emfsResourceClassifierClass="no.hal.confluence.ui.resources.XemfsURLResourceClassifier"
	    />
     </extension>

</plugin>
