<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="chartpane" name="Chart Pane" schema="schema/chartpane.exsd"/>
   <extension-point id="exviewercolumn" name="Exercise Viewer Column" schema="schema/exviewercolumn.exsd"/>

   <extension point="org.eclipse.ui.views">
     <view id="no.hal.learning.exercise.adm.LoggedExView"
     	name="Logged Exercises"
     	allowMultiple="false"
     	class="no.hal.learning.exercise.adm.LoggedExView">
     </view>
     <view id="no.hal.learning.exercise.adm.BbSubmissionsView"
     	name="Bb Submissions"
     	allowMultiple="false"
     	class="no.hal.learning.exercise.adm.BbSubmissionsView">
     </view>
   </extension>

	<extension point="no.hal.learning.exercise.adm.exviewercolumn">
		<exviewercolumn
			columnNum="10"
			columnName="eventCount"
	    	columnLabel="# total"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.util.TaskEventCounter"
            columnWidth="40"
        />
		<exviewercolumn
			columnNum="15"
			columnName="editEventCount"
	    	columnLabel="# edits"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.util.StringEditEventCounter"
            columnWidth="40"
        />
		<exviewercolumn
			columnNum="20"
	    	columnLabel="Start"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsTimeCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.util.TaskEventMinTimeReducer"
            columnWidth="125"
        />
		<exviewercolumn
			columnNum="30"
	    	columnLabel="End"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsTimeCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.util.TaskEventMaxTimeReducer"
            columnWidth="125"
        />
		<exviewercolumn
			columnNum="40"
			columnName="editTimeMinutes"
	    	columnLabel="Edit time"
            cellLabelProviderClass="no.hal.learning.exercise.adm.TaskEventsValueCellLabel"
            taskEventsValueClass="no.hal.learning.exercise.adm.util.EditTimeAccumulator"
            columnWidth="50"
        />
	</extension>

</plugin>
